body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

a, a:hover {
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #fff;

}
